.center
{
	text-align: center;
}
.action 
{
	width:12%;
}
.td-img 
{
	width:15%;
}
.img
{
	width: 80%;
}
.product-caption{
	height: 30px;
}
.product-caption h3{
    text-overflow: ellipsis;  
    overflow: hidden; 
    white-space: nowrap;
    width: 100%; 

}
.popular-caption{
	height: 20px;
}
.popular-caption h3 {
    text-overflow: ellipsis;  
    overflow: hidden; 
    white-space: nowrap;
    width: 100%; 
}
.row .col-xl-4{
	margin-bottom: 30px;
}


.linkpage {
    margin-top: 20px;
    display: flex;
}
.linkpage nav{
    margin: auto;
}
.linkpage div{
    display: flex;
    flex-wrap: nowrap;
}
.linkpage p{
    display: none;
}
.linkpage span a{
    /* margin: 3px; */
}
.linkpage span span[aria-current="page"]{
    margin: auto;
    padding: 8px 5px 8px 10px;
}
.linkpage a{
    padding: 8px 20px 10px 22px;
}
.linkpage svg{
    height: 10px;
}
.linkpage nav .justify-between{
    display: none;
}
.linkpage span[class="relative"]{
	background: unset;
	border: none;
}
.tab-pane .linkpage a{
    color: blue;
}


.col-lg-12 .owl-carousel .single_product_img img{
    width: 40%;
    margin: auto;
}