.center
{
	text-align: center;
}
.action 
{
	width:12%;
}
.td-img 
{
	width:15%;
}
.img
{
	width: 80%;
}
.product-caption{
	height: 30px;
}
.product-caption h3{
    text-overflow: ellipsis;  
    overflow: hidden; 
    white-space: nowrap;
    width: 100%; 

}
.popular-caption{
	height: 20px;
}
.popular-caption h3 {
    text-overflow: ellipsis;  
    overflow: hidden; 
    white-space: nowrap;
    width: 100%; 
}
.row .col-xl-4{
	margin-bottom: 30px;
}


.linkpage {
    margin-top: 20px;
    display: flex;
}
.linkpage nav{
    margin: auto;
}
.linkpage div{
    display: flex;
    flex-wrap: nowrap;
}
.linkpage p{
    display: none;
}
.linkpage span a{
    /* margin: 3px; */
}
.linkpage span span[aria-current="page"]{
    margin: auto;
    padding: 8px 5px 8px 10px;
}
.linkpage a{
    padding: 8px 20px 10px 22px;
}
.linkpage svg{
    height: 10px;
}
.linkpage nav .justify-between{
    display: none;
}
.linkpage span[class="relative"]{
	background: unset;
	border: none;
}
.tab-pane .linkpage a{
    color: blue;
}

<<<<<<< HEAD
/*-----------------*/
body {
    background-color: #EBEAEF
}

.container {
    flex-wrap: wrap;
    margin-top: 60px;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #4270C8;
    width: 350px;
    margin-top: -60px;
    height: 300px;
}

p.mb-1 {
    font-size: 25px;
    color: #9FB7FD
}

.btn-primary {
    border: none;
    background: #5777DE;
    margin-bottom: 60px
}

.btn-primary small {
    color: #9FB7FD
}

.btn-primary span {
    font-size: 13px
}

.card.two {
    border-top-right-radius: 60px;
    border-top-left-radius: 0;
}

.form-group {
    position: relative;
    margin-bottom: 2rem
}

.form-control {
    border: none;
    border-radius: 0;
    outline: 0;
    border-bottom: 1.5px solid #E6EBEE
}

.form-control:focus {
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #8A97A8
}

.form-control-placeholder {
    position: absolute;
    top: 15px;
    left: 10px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 80%
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -90%, 0);
    opacity: 1;
    top: 10px;
    color: #8B92AC
}

.btn-block {
    border: none;
    border-radius: 8px;
    background-color: #506CCF;
    padding: 10px 0 12px
}

.btn-block:focus {
    box-shadow: none
}

.btn-block span {
    font-size: 15px;
    color: #D0E6FF
=======

.col-lg-12 .owl-carousel .single_product_img img{
    width: 40%;
    margin: auto;
>>>>>>> 03b0c33644b6ed3a96f1916d073ca4cb9faa6b42
}