.center
{
	text-align: center;
}
.action 
{
	width:12%;
}
.td-img 
{
	width:15%;
}
.img
{
	width: 80%;
}
.product-caption{
	height: 30px;
}
.product-caption h3{
    text-overflow: ellipsis;  
    overflow: hidden; 
    white-space: nowrap;
    width: 100%; 

}
.popular-caption{
	height: 20px;
}
.popular-caption h3 {
    text-overflow: ellipsis;  
    overflow: hidden; 
    white-space: nowrap;
    width: 100%; 
}
.row .col-xl-4{
	margin-bottom: 30px;
}


.linkpage {
    margin-top: 20px;
    display: flex;
}
.linkpage nav{
    margin: auto;
}
/*.linkpage div{
    display: flex;
    flex-wrap: nowrap;
}*/
/*.linkpage p{
    display: none;
}*/
/*.linkpage span span[aria-current="page"]{
    margin: auto;
    padding: 8px 5px 8px 10px;
}*/
.linkpage a{
    padding: 8px 20px 10px 22px;
    color: #ff2020;
}
.linkpage a:hover{
    color: #ff2020;
}
/*.linkpage svg{
    height: 10px;
}
.linkpage nav .justify-between{
    display: none;
}
.linkpage span[class="relative"]{
	background: unset;
	border: none;
}*/
.row{
    width: 100%;
}


.page-item.active .page-link {
    background-color: #ff2020;
    border-color: #ff2020;
}
span.page-link{
     padding: 8px 20px 10px 22px;
}


/*<<<<<<< HEAD
=======*/

.col-lg-12 .owl-carousel .single_product_img img{
    width: 40%;
    margin: auto;
/*>>>>>>> 03b0c33644b6ed3a96f1916d073ca4cb9faa6b42*/

}

/*------------------------*/

.bdy{
    background-color: #EBEAEF;
}

.container {
    flex-wrap: wrap;
    margin-top: 60px;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #ff2020;
    width: 380px;
    margin-top: -60px;
}

p.mb-1 {
    font-size: 25px;
    color:  #ffb3b4;
}

.btn-danger {
    border: none;
    background:  #ff4d4f;
    margin-bottom: 60px;
}
.btn-danger:hover{
    background-color: #ff6669;
}

.btn-danger small {
    color:  #ffb3b4;
}

.btn-danger span {
    font-size: 13px
}

.card.two {
    border-top-right-radius: 60px;
    border-top-left-radius: 0;
}
.card.two2 {
    border-top-right-radius: 60px;
    border-top-left-radius: 0;
}

.form-group {
    position: relative;
    margin-bottom: 2rem
}

.form-control {
    border: none;
    border-radius: 0;
    outline: 0;
    padding: 25px 0px;
    border-bottom: 1.5px solid #E6EBEE
}

.form-control:focus {
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #8A97A8
}

.form-control-placeholder {
    position: absolute;
    top: 15px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 80%
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    margin-bottom: 10px;
    font-size: 80%;
    transform: translate3d(0, -90%, 0);
    opacity: 1;
    top: 10px;
    color: #8B92AC
}

.btn-block {
    border: none;
    border-radius: 8px;
    background-color: #ff2020;
    padding: 10px 0 12px
}
.btn-block:hover{
    background-color: #ff4d4f;
}

.btn-block:focus {
    box-shadow: none
}

.btn-block span {
    font-size: 15px;
    color: #D0E6FF

}


#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

.sidebar-expanded {
    width: 260px;
}
.sidebar-collapsed {
    width: 60px;
}


#sidebar-container .list-group a {
    height: 70px;
    color: white;
    padding: 20px;
}


#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}


.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}


#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
